/*
  color pallet
  #877148 brown
  #f7eda3 yellow
  #1f1e14 black font
*/

.Container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background: white;
  height: 600px;
}

/* .Container{
    display: grid;
    grid-template-columns: 40% 50% 10%;
    transition: box-shadow 1s;
    width: 100%;
    height: max(10vh,200px);
    margin: 1px;
    align-items: start;
    justify-content: start;
    background-color: #EBD4CC;
    border-bottom: rgb(216, 217, 221) 0.01px solid;
    padding: 10px;
    border: 1px solid black;
} */

.hole{
  /* width: max(500px,55vw); */
  row-gap: 2px;
}

.temp{
  flex-grow: 3;
}
.createResourcesContainer{
  display: grid;
  justify-content: center;
  grid-template-columns: 50vw 50vw;
}

.Container:hover{
  box-shadow: #bebbb5 0px 5px 15px;
}

.ItemDescriptionCard{
    display: grid;  
    padding: 1%;
    grid-template-rows: repeat(5,15%);
    height: 90%;
    gap: 0px;
    align-items: start;
    row-gap: 0%;
}

.Item-text{
    width: 100%;
    height: 100%;
    text-size-adjust: auto;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

.availiable{
  background-color: #f4e0e0;
  width: 50%;
  border-radius: 1%;
  height: 100%;
  margin-left: 25%;
  margin-top: 10px;

}
.price{
  color: #01764f;
  text-size-adjust: auto;
}

.Item-last{  
    align-items: center;
    align-self: self-start;
}

.Item-button{
  margin: 10px 20px;
  text-align: center;
}



/* .Item-button {
  
  align-items: center;
  appearance: none;
  background-color: #f7eda3;
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 62.5rem;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #1f1e14;
  cursor: pointer;
  font-family: CircularStd,sans-serif;
  font-size: auto;
  height: 40px;
  width: 90%;
  margin-top: 30%;
  margin-bottom: 30%;
  justify-content: center;
  line-height: 1.5;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
} */

.Text-container{
  width:90%;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 3%;
}

.Image-container{
  padding: 10px;
  width: 95%;
  height: max(200px,9vh);
  position: relative;
}
.Image-container img{
  width: max(200px,90%);
  height: max(200px,9vh);
  object-fit: scale-down  ;
}

.Image-container .edit-resource {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 10px;
  padding: 5px;
}

.Item-button:active,
.Item-button:focus {
  outline: none;
}

.Item-button:hover {
  background-position: -20px -20px;
}

.Item-button:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.filter input[type=text] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #a40202;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.filter input[type=text]:focus {
  outline: none;
}

.filterMenu {
  padding-top: 20px;
  padding-bottom: 30px;
}

.filterMenu button {
  background-color: white;
  color: #514945;
  border: 1px solid #a40202;;
  margin-right: 20px;
}

.filterMenu button.selected {
  background-color: #a40202;
  color: white;
}

.cart-container {
  height: 85%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 25px 40px #49030333;
  padding-bottom: 200px;
}

.cart-container .cart-header{
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 
 .cart-container .action{
  color: #a40202;
  cursor: pointer;
  border-bottom: 1px solid #a40202;
 }

 .cart-container .cart-items{
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
 }

 .cart-container .image-container{
  width: 15%;
  text-align: center;
 }

 .cart-container .image-container img{
  width: 100%;
 }

 .cart-container .about{
  height: 100%;
 }

 .cart-container .title{
  padding-top: 5px;
  line-height: 10px;
  color: #202020;
 }

 .cart-container .subtitle{
  line-height: 10px;
  color: #909090;
 }

 .cart-container .counter{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .cart-container .btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202020;
  cursor: pointer;
 }

 .cart-container .count{
  color: #202020;
 }

 .cart-container .prices{
  height: 100%;
  text-align: right;
 }

 .cart-container .price{
  padding-top: 20px;
  color: #202020;
 }

 .cart-container .remove{
  padding-top: 5px;
 }

 .cart-container hr{
  width: 66%;
  float: right;
  margin-right: 5%;
 }

 .cart-container .checkout{
  float: right;
  margin-right: 5%;
  width: 28%;
 }

 .cart-container .total{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
 }

 .cart-container .items{
  color: #909090;
  line-height: 10px;
 }

 .cart-container button{
  margin-top: 5px;
  width: 100%;
 }

 .buttons-field {
  text-align: initial;
 }

 .buttons-field button {
  width: 50%;
 }

 .buttons-field input {
  width: 30%;
  padding: 10px;
 }

 .return-list {
  padding-top: 30px;
 }

 .restock {
  margin-right: -15px;
  font-size: 10px;
  padding: 5px;
  background-color: #2f2626;
 }

 .restock a {
  color: white;
 }

 .restock:hover {
  background-color: #2c0f0f;
 }